/*  0- Display - block, inline, inline-block
    1- Content
    2- Padding - arriba, derecha, abajo, izquierda
    3- Border - ancho de borde, tipo de borde, color
    4- Margin - arriba, derecha, abajo, izquierda
    5- centrar una caja en pantalla
    6- box-sizing - border-box
*/

.caja {
  background-color: aqua;
  width: 100px;
  /* padding: 100px; */
  border: 8px solid red;
  /* margin: 20px; */
  box-sizing: border-box;
}
