/*  
    0- Cuando se muestre el modelo de caja mostrar como se activa las dev tools de chrome.
    1- Content - width y height
    2- Padding - arriba, derecha, abajo, izquierda
    3- Border - ancho de borde, tipo de borde, color
    4- Margin - arriba, derecha, abajo, izquierda
    5- centrar una caja en pantalla
    6- box-sizing - border-box
    7- Display - block, inline, inline-block

*/

.contenedor {
  background-color: antiquewhite;
  text-align: center;
}
.caja {
  display: inline-block;
  background-color: aqua;
  width: 120px;
  height: 120px;
  /* padding: 120px; */
  /* padding: 120px 10px 60px 30px; */
  /* padding-right: 60px;
  padding-left: 60px;
  padding-top: 60px;
  padding-bottom: 60px; */
  border: 4px solid red;
  /* border-right: 4px solid green; */
  /* margin: 120px 60px 20px 20px; */
  /* margin-left: 10px; */
}
