/* 
Propiedad position:
1 - static

2 - relative
top, left, right, bottom

3 - absolute
top, left, right, bottom

4- fixed
z-index


*/

body {
  background-color: #303030;
}

.caja {
  color: white;
  width: 300px;
  height: 300px;
  padding: 20px;
  margin: 10px;
}

nav {
  background-color: white;
  width: 100%;
  height: 40px;
  position: fixed;
  z-index: 10;
}

.uno {
  background-color: red;
  position: relative;
}

.cajita {
  background-color: orange;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.dos {
  background-color: green;
  position: relative;
  bottom: 50px;
  left: 100px;
  z-index: 2;
}

.tres {
  background-color: blue;
  position: relative;
  bottom: 200px;
  z-index: 3;
}
